* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.user-conainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-list {
  width: 600px;
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.user-item {
  width: 100%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.user-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.user-item h3 {
  margin: 5px 0;
  color: #333;
}
.user-item p {
  color: #777;
  font-size: 14px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 30px;
}
.buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
.clear-btn {
  background-color: #ff4d4d;
  color: white;
}

.random-btn {
  background-color: #4caf50;
  color: white;
}

.user-loader {
  margin-top: 30px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 460px) {
  .user-conainer {
    padding: 50px;
  }

  .user-list {
    grid-template-columns: 1fr;
  }
}
